@font-face {
	font-family: YoungSerif-Regular;
	src: url(fonts/YoungSerif-Regular.ttf);
}
@font-face {
	font-family: SongMyung-Regular;
	src: url(fonts/SongMyung-Regular.ttf);
}

html {
	max-width: 948px;
	margin: 0 auto;
	/* PADDING = top/bottom then left/right */
	padding: 45px 350px;
	background: #918378;
	color: #211e1d;
}

body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 1em;
	color: #211e1d;
}

footer{
    margin-top: auto;
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	font-style: normal;
}

table{
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	border: 1px transparent;
	margin-left: auto; 
	margin-right: auto;
}

th{
	font-size: 1.1em;
	font-weight: bolder;
}

nav ul{
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	padding-right: 30px;
	margin: 0%;
	float: left;
}

h1{
	font-family: "YoungSerif-Regular", serif;
	font-size: 2.9em;
	font-weight: bold;
	text-decoration: none;
	margin-top: 0;
	margin-bottom: 0;
}

h2{
	font-family: "YoungSerif-Regular", serif;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0;
}

h3{
	font-family: "YoungSerif-Regular", serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

div{
	text-align: center;
}

a{
	color:#211e1d;
	text-decoration: underline;
}

ul{
	list-style: none;
	padding-left: 0;
}

ul li:before {
	content: '> ';
}

ol li{
	padding-top: 0;
	padding-left: 1;
}

hr{
	border-color: #211e1d;
}

img{
	float:"left";
}

/* a # is for an id */
#hub_links{
	color:#211e1d;
	text-decoration: none;
}
/* a . is for any class */
.start_text{
	color: #211e1d;
}

.active{
	font-style: italic;
}

.clear_float{
	clear: both;
}

.title{
	float: left;
	color: #211e1d;
	text-decoration: none;
}

.padding_from_title{
	padding-left: 10%;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
}