@font-face {
	font-family: YoungSerif-Regular;
	src: url(fonts/YoungSerif-Regular.ttf);
}
@font-face {
	font-family: Roboto-Regular;
	src: url(fonts/Roboto-Regular.ttf);
}






/* extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}









html {
	max-width: 948px;
	margin: 0 auto;
<<<<<<< Updated upstream
	padding: 48px 24px 48px 24px;
=======
	/* PADDING = top/bottom then left/right */
	/*padding: 45px 350px; */
	padding: 5% 20%;
>>>>>>> Stashed changes
	background: #918378;
	color: #211e1d;
}

/* NOT IN USE */
nav{
}

/* NOT IN USE */
table{
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	font-style: normal;
	border: 1px transparent;
	width: 18em;

}

div nav ul{
	font-family: "SongMyung-Regular", sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	font-style: normal;
	list-style: none;
	padding: 0%;
	margin: 0%;
	float: left;
}

h1{
	font-family: "YoungSerif-Regular", serif;
	font-size: 3em;
	font-weight: bold;
	font-style: normal;
}

h2{
	font-family: "YoungSerif-Regular", serif;
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
}

<<<<<<< Updated upstream
p{
	font-family: "Roboto-Regular", sans-serif;
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
=======
h3{
	font-family: "YoungSerif-Regular", serif;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

a{
	color:#211e1d;
	text-decoration: underline;
}

ul{
	list-style: none;
	padding-left: 0;
}

ul li:before {
	content: '> ';
}

ol li{
	padding-top: 0;
	padding-left: 1;
}

hr{
	border-color: #211e1d;
>>>>>>> Stashed changes
}

/* NOT IN USE */
/* a # is for an id */
#hub_links{
	color: #211e1d;
	font-size: 1.1em;
	text-decoration: none;
}

/* NOT IN USE */
/* a . is for any class */
.start_text{
	color: #211e1d;
}

.active{
	font-style: italic;
}

.clear_float{
	clear: both;
}

.title{
	float: left;
}

.padding_from_title{
	padding-left: 10%;
<<<<<<< Updated upstream
=======
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab { 
	display: inline-block; 
    margin-left: 40px;  
} 

.centre {
	text-align: center;
>>>>>>> Stashed changes
}